@import "../../App.scss";

.container {
  height: auto;
  width: 376px;
  img {
    display: block;
    margin: auto;
    width: 79px;
    margin-bottom: 44px;
  }
  h3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    font: 700 20px $font-family;
    color: #000000;
    margin-bottom: 32px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}
