@import "../../App.scss";
.input-container {
  display: flex;
  flex-direction: column;
  font: 400 14px $font-family;
  color: $secondary-text-color;
  margin-bottom: 32px;
  input {
    margin-top: 4px;
    min-height: 48px;
    border: 1px solid #cad2d6;
    padding: 0 16px;
  }
  input::placeholder {
    font: 400 15px $font-family;
    color: #909fa9;
  }
}
