@import "../../App.scss";

button {
    font: 500 16px $font-family;
    color: #fff;
    background-color: $main-color;
    min-height: 56px;
    transition: all 0.3s ease-out;
    border: 0px;
  }
  button:active{
    transform: scale(0.96);
  }
  button:hover{
    cursor: pointer;
  }