@import "../../App.scss";

p.errorMsg {
  color: red;
  font: 400 12px $font-family;
  font-style: italic;
}

.pageContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resetText {
  font: 400 19px/32px $font-family;
  color: $secondary-text-color;
  margin: 0 0 32px 0;
}

p.centeredText {
  text-align: center;
}
