@import "../../App.scss";

.NavBar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: auto;
  justify-content: flex-end;
  a {
    text-decoration: none;
  }
  h3 {
    font: 400px 12px $secondary-text-color;
    font-family: $font-family;

    margin-right: 10px;
  }
  h3:active {
    color: $main-color;
    transform: scale(0.96);
    border-bottom: 1px solid $main-color;
  }
}
