@import "../../App.scss";

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  label {
    font: 500 14px $font-family;
    color: $secondary-text-color;
    margin-left: 16px;
    cursor: pointer;
  }
  input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #cad2d6;
    border-radius: 5px;
    margin: 0;
  }
  input:hover {
    cursor: pointer;
  }
  input:active {
    background-color: $main-color;
  }
  input:checked {
    background-color: $main-color;
    color: #99a1a7;
  }
}

