@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

$font-family: "Lexend", sans-serif;
$main-color: #7101ff;
$secondary-text-color: #505e68;
$background-text-color: #afb7d3;

* {
  font-family: $font-family;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
